@import url(https://fonts.google.com/specimen/Kumbh+Sans);
:root{
    --dark-blue: #1d1e35;
    --soft-red: #f47c57;
    --soft-violet: #af67e9;
    --soft-blue: #6565e7; 
    --very-dark-grayish-blue: #787887;
    --dark-grayish-blue: #787887;
    --light-grayish-blue: #e7e7e9;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
    font-family:Khumb Sans, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
}
.container
{
    width: 920px;
    height: 500px;
    display: grid;
    background-color: var(--light-grayish-blue);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    border-radius: 23px;
    box-shadow: 2px 5px 5px 0px rgba(99,97,97,0.75);
-webkit-box-shadow: 2px 5px 5px 0px rgba(99,97,97,0.75);
-moz-box-shadow: 2px 5px 5px 0px rgba(99,97,97,0.75);
}.images
{
    background-image: url(images/bg-pattern-desktop.svg);
    overflow: hidden;
    background-size:auto;
    background-position: 100%;
        /* border: 2px solid black; */
}
.box
{
    position: absolute;
    top: 43.7%;
    left: 14%;
    /* border: 3px solid black; */
}
.desktop
{
 transform: translateX(-16%);
 padding-block: 4rem;
}
.FAQ
{
    align-self: center;
   padding-right: 2rem;
}
.FAQ h1{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 2rem;
}
.question
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
    margin-top: 2rem;
}
.question h3{
    font-size: 1rem;
    font-weight: 400;
}
.arrow-down{
    width: 0.7vw;
    height: 0.9vh;
    margin-left: 2rem;
    display: inline-flex;
    align-self: center;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
    
}
.answer
{
    display: none;
}
.rotate
{
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}
.bold
{
    font-weight: bold;
}